.app__navbar {
    display: flex;
    justify-content: space-between;
    height: 65px;
    margin-top: 0.3em;
    align-items: center;
    border-bottom: 2px solid black;
    position: sticky;
}

.app__navbar-home {
    display: flex;
}

.navbar-homelogo {
    font-size: 30px;
    margin-right: 2rem;
    transition: all 1s ease;

    cursor: pointer;
}

.navbar-homelogo:hover {
    transform: rotate(18000deg);
}

.navbar-search {
    display: flex;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    padding: 0.3em 0.5em;
    border: 2px solid black;
    cursor: pointer;
}

.navbar-search svg {
    margin-right: 0.5em;
    cursor: pointer;
}

.navbar-search input {
    border: transparent;
    font-size: 15px;
}

.navbar-search input:focus {
    outline: transparent;
}

.app__navbar-info {
    display: flex;
    font-size: 33px;
    cursor: pointer;
}

.navbar-ques {
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-user {
    margin-left: 1rem;
}

.login-button {
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 30px;
    width: 70px;
    margin-left: 1em;
    font-weight: 500;
    border-radius: 2em;
}