* {
  font-family: var(--font-base);
}
/* Website pattern */

.app__content {
  margin-left: 321px;
  width: calc(100vw - 321px);
}

.section__padding {
  margin: 0 5rem;
}

.navbar__padding {
  padding: 0 5rem;
}

.item__padding {
  margin: 3rem 6rem;
}

.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}



@media screen and (min-width: 1280px) {
  .item__padding {
    margin: 3rem 16rem;
    margin-bottom: 0;
  }

  .section__padding {
    margin: 0 10rem;
    margin-bottom: 0;
  }
  .navbar__padding {
    padding: 0 10rem;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 680px) {
  .item__padding {
      margin:0rem 3rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    margin: 0rem 3rem
  }
  .navbar__padding {
    padding: 0rem 3rem
  }
}